In [1]:
import psycopg2
import pandas as pd
from plotly.offline import init_notebook_mode, iplot
from plotly.offline import plot 
import plotly.graph_objects as go
import warnings
warnings.filterwarnings('ignore')
import datetime

import q_credentials.db_secmaster_cred as db_secmaster_cred
import q_credentials.db_indicator_cred as db_indicator_cred

In [2]:
# connect to our securities_master database
conn_secmaster = psycopg2.connect(host=db_secmaster_cred.dbHost , database=db_secmaster_cred.dbName, user=db_secmaster_cred.dbUser, password=db_secmaster_cred.dbPWD)
conn_indicator = psycopg2.connect(host=db_indicator_cred.dbHost , database=db_indicator_cred.dbName, user=db_indicator_cred.dbUser, password=db_indicator_cred.dbPWD)

In [7]:
sql="""select a.date_price date, a.open_price open, a.high_price high, a.low_price low, a.close_price as close, a.volume 
from d_data a inner join symbol b on a.symbol_id = b.id where b.ticker='EUR_USD' order by date desc"""
df=pd.read_sql(sql,con=conn_secmaster)

In [8]:
df

           date     open     high      low    close  volume
0    2020-09-04  1.18503  1.18654  1.17808  1.18383  138709
1    2020-09-03  1.18531  1.18646  1.17890  1.18518  133630
2    2020-09-02  1.19134  1.19288  1.18222  1.18551  130698
3    2020-09-01  1.19357  1.20114  1.19014  1.19119  143155
4    2020-08-31  1.19075  1.19660  1.18841  1.19362  113170
...         ...      ...      ...      ...      ...     ...
3056 2010-01-07  1.44074  1.44464  1.42996  1.43079   42005
3057 2010-01-06  1.43665  1.44346  1.42832  1.44078   45142
3058 2010-01-05  1.44123  1.44839  1.43468  1.43650   45159
3059 2010-01-04  1.43030  1.44560  1.42576  1.44127   42031
3060 2010-01-03  1.43120  1.43425  1.42926  1.43036    1027

[3061 rows x 6 columns]

In [9]:
df['date']=pd.to_datetime(df['date'])

In [11]:
df.set_index('date',drop=True,inplace=True)

In [17]:
df.head(20)

               open     high      low    close  volume
date
2020-09-04  1.18503  1.18654  1.17808  1.18383  138709
2020-09-03  1.18531  1.18646  1.17890  1.18518  133630
2020-09-02  1.19134  1.19288  1.18222  1.18551  130698
2020-09-01  1.19357  1.20114  1.19014  1.19119  143155
2020-08-31  1.19075  1.19660  1.18841  1.19362  113170
2020-08-28  1.18218  1.19198  1.18111  1.19046  140754
2020-08-27  1.18304  1.19021  1.17625  1.18218  164072
2020-08-26  1.18357  1.18394  1.17723  1.18304   99999
2020-08-25  1.17923  1.18436  1.17844  1.18344  102615
2020-08-24  1.17945  1.18496  1.17842  1.17877   90166
2020-08-21  1.18601  1.18830  1.17542  1.17963  117602
2020-08-20  1.18376  1.18688  1.18022  1.18601  131704
2020-08-19  1.19312  1.19529  1.18304  1.18382  120845
2020-08-18  1.18722  1.19658  1.18677  1.19312  114205
2020-08-17  1.18425  1.18811  1.18288  1.18706   85623
2020-08-14  1.18134  1.18504  1.17817  1.18426   98387
2020-08-13  1.17832  1.18642  1.17811  1.18142  110574
2020-08-12  1.17426  1.18172  1.17112  1.17847  121309
2020-08-11  1.17376  1.18080  1.17222  1.17403  122109
2020-08-10  1.17934  1.18008  1.17362  1.17368   86381

In [15]:
logic = {'open'  : 'first',
         'high'  : 'max',
         'low'   : 'min',
         'close' : 'last',
         'volume': 'sum'}

offset = pd.offsets.timedelta(days=-6)

# f = pd.read_clipboard(parse_dates=['date'], index_col=['date'])
df.resample('W', loffset=offset).apply(logic)

               open     high      low    close  volume
date
2009-12-28  1.43120  1.43425  1.42926  1.43036    1027
2010-01-04  1.43030  1.44839  1.42576  1.44268  222987
2010-01-11  1.44271  1.45792  1.43346  1.43562  241169
2010-01-18  1.43562  1.44142  1.40292  1.41575  241666
2010-01-25  1.41580  1.41942  1.38535  1.38646  258821
...             ...      ...      ...      ...     ...
2020-08-03  1.17790  1.19170  1.16960  1.17860  593625
2020-08-10  1.17934  1.18642  1.17112  1.18426  538760
2020-08-17  1.18425  1.19658  1.17542  1.17963  569979
2020-08-24  1.17945  1.19198  1.17625  1.19046  597606
2020-08-31  1.19075  1.20114  1.17808  1.18383  659362

[558 rows x 5 columns]

In [14]:
offset

datetime.timedelta(days=-6)

In [16]:
df.resample('W').apply(logic)

               open     high      low    close  volume
date
2010-01-03  1.43120  1.43425  1.42926  1.43036    1027
2010-01-10  1.43030  1.44839  1.42576  1.44268  222987
2010-01-17  1.44271  1.45792  1.43346  1.43562  241169
2010-01-24  1.43562  1.44142  1.40292  1.41575  241666
2010-01-31  1.41580  1.41942  1.38535  1.38646  258821
...             ...      ...      ...      ...     ...
2020-08-09  1.17790  1.19170  1.16960  1.17860  593625
2020-08-16  1.17934  1.18642  1.17112  1.18426  538760
2020-08-23  1.18425  1.19658  1.17542  1.17963  569979
2020-08-30  1.17945  1.19198  1.17625  1.19046  597606
2020-09-06  1.19075  1.20114  1.17808  1.18383  659362

[558 rows x 5 columns]

In [23]:
%%time
!python q_pack/q_run/run_BT.py --fromdate='2016-1-1' --timeframe='w' --load_symbol='True' --strat_param "use_level=yes,use_db=yes,ml_serving=no"

{'fromdate': datetime.datetime(2016, 1, 1, 0, 0)}
no indicator data for AUD_USD
no indicator data for EUR_JPY
no indicator data for EUR_USD
no indicator data for GBP_JPY
no indicator data for GBP_USD
no indicator data for NZD_USD
no indicator data for USD_CAD
no indicator data for USD_CHF
no indicator data for USD_JPY
Strategy run finished with Run ID: None
PODA  0.72816
PODA  125.781
PODA  1.18383
PODA  141.094
PODA  1.32803
PODA  0.67213
PODA  1.30628
PODA  0.91352
PODA  106.241
Profit ... or Loss: 0.00
CPU times: user 451 ms, sys: 166 ms, total: 617 ms
Wall time: 20.9 s